POSTGRES__USER=admin
POSTGRES__PASSWORD=admin_password
POSTGRES__DEFAULT__DB=default_db

POSTGRES__PRODUCT__USER=pro_user
POSTGRES__PRODUCT__PASSWORD=pro_user
POSTGRES__PRODUCT__DB=product_db
PRODUCT__PORT=5000
PRODUCT_SERVICE_CONTAINER=webapi_product

POSTGRES__ORDERSERVICE__DB=order_service_db
POSTGRES__ORDERSERVICE__USER=order_user
POSTGRES__ORDERSERVICE__PASSWORD=order_user
ORDERSERVICE__PORT = 5030
ORDER_SERVICE_CONTAINER=order_service

POSTGRES__INVENTORYSERVICE__DB=inventory_service_db
POSTGRES__INVENTORYSERVICE__USER=inv_user
POSTGRES__INVENTORYSERVICE__PASSWORD=inv_user
INVENTORY__PORT=5020
INVENTORY_SERVICE_CONTAINER=inventory_service

POSTGRES_AUTH_DB=auth_db
POSTGRES_AUTH_USER=auth_user
POSTGRES_AUTH_PASSWORD=auth_user
AUTH__PORT = 5010
AUTH_CONTAINER=webapi_auth

AUTHENTICATION__AUTHORITY=http://localhost:5010
AUTHENTICATION__ISSUERSIGNINGKEY=my-secure-jwt-secret-extended-to-256-bits-here
AUTHENTICATION__AUDIENCE=DemoMicro

KESTRELPORTS__ENDPOINTS__GRPC__PORT=5004
GRPCSETTINGS__PRODUCTSERVICEURL=http://$PRODUCT_SERVICE_CONTAINER:$KESTRELPORTS__ENDPOINTS__GRPC__PORT

KAFKA__HOST=Kafka
KAFKA__PORT=9092
KAFKA__CLIENT__PORT=29092

REDIS_SERVICE_CONTAINER=redis_cache
REDIS_SERVICE_PORT=6379
REDIS__CONNECTIONSTRING=$REDIS_SERVICE_CONTAINER:$REDIS_SERVICE_PORT,connectTimeout=10000,syncTimeout=10000


GITHUB_TOKEN=no)